@font-face {
    font-family: "NanumBarunGothic";
    font-style: normal;
    font-weight: 400;
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix")
        format("embedded-opentype"),
      url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff")
        format("woff"),
      url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf")
        format("truetype");
  }
  
  .nanumbarungothic * {
    font-family: "NanumBarunGothic", sans-serif;
  }
  
  body{
    background-image: url("../img/img2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: NanumBarunGothic;
    overflow: hidden;
  }
  .container{
    height: 100vh;
  }
  .chat-box {
    width: 19em;
    background: #e5e5e5;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 1.5em;
    float: none; 
    margin:0 auto;
  }
  #next-btn{
    background: #9AC441;
    border-radius: 20px;
    color: #fff;
    padding: 0 15px;
    font-size: smaller;
  }
  .mic-button{
    border-radius: 100%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: none;
    margin: 0 auto;
    background: linear-gradient(155.21deg, #82901d 10.7%, #8e751c 90.03%);
    box-shadow: 0px 44px 66px rgba(176, 195, 210, 0.727846);
    border-radius: 101.5px;
  }
  .mic_buttton_active {
    animation: active 2s infinite;
  }
  
  @keyframes active {
    0% {
      box-shadow: 0 0 0 #b8be85;
    }
  
    70% {
      box-shadow: 0 0 0 25px rgba(13, 112, 29, 0);
    }
  
    100% {
      box-shadow: 0 0 0 30px rgba(13, 112, 29, 0);
    }
  }