.chat-box {
  width: 20em;
  padding: 2em 1em 2em 1.5em;
}
#user-first-say {
  font-weight: 900;
}
.user-say {
  font-size: 0.8em;
}
.tree-say {
  color: #848e1d;
  font-weight: 900;
}
#tree-answer {
  color: #848e1d;
  font-size: 0.8em;
}
#user-answer {
  font-weight: 900;
}
/* a-4, caseA,C  result page*/
.preview-box {
  width: 20em;
  border-radius: 10px 10px 0 0;
  background-color: #ffff;
  float: none;
  margin: 0 auto;
  padding: 2em;
}
.box {
  width: 256px;
  height: 67px;
  border-radius: 10px;
  background-color: #e5e5e5;
  float: none;
  margin: 0 auto;
  padding: 1em;
}
#name-spell {
  border-radius: 50%;
  background-color: #9ac441;
  color: #fff;
  font-weight: 900;
  display: inline-block;
  padding: 5px 10px;
}
#phone-num,
#msg-text {
  font-size: 0.8em;
  font-weight: 900;
}
#name {
  font-weight: 900;
  font-size: 0.7em;
}
#message {
  width: 16em;
  margin-top: 1em;
  font-size: 0.7em;
}

/* b-4, caseB result page */
#confirm-btn {
  background: #9ac441;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  color: #666;
  padding: 7px 15px;
  font-size: smaller;
  font-weight: 900;
  float: right;
}
#modify-btn {
  background: #e5e5e5;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  color: #666;
  padding: 7px 15px;
  font-size: smaller;
  font-weight: 900;
}

/* c-2 */
#number {
  border-radius: 50%;
  background-color: #fff;
  color: #9ac441;
  font-weight: 900;
  display: inline-block;
  padding: 3px 10px;
}
hr {
  margin: 10px 0;
}
